services:
  terraform:
    image: ghcr.io/evanyeung-clear/terraform-ci/terraform:1.8.3-latest
    working_dir: /terraform
    volumes:
      - "./:/terraform"
      - "~/.aws/credentials:/root/.aws/credentials"
    environment:
      # if SPEC_PLAN is set, append -speculative to workspace name
      - TF_WORKSPACE=${TF_WORKSPACE:-workspace}${SPEC_PLAN:+-speculative}
      - TF_CLOUD_ORGANIZATION
      - TF_TOKEN_APP_TERRAFORM_IO
