services:
  terraform:
    image: ghcr.io/evanyeung-clear/terraform-ci/terraform:1.8.3-latest
    working_dir: /terraform
    volumes:
      - "./:/terraform"
      - "~/.aws/credentials:/root/.aws/credentials"
    environment:
      - TF_WORKSPACE=${TF_WORKSPACE:-preview}${SPEC_PLAN:+-speculative}
      - TF_CLOUD_ORGANIZATION
      - TF_TOKEN_APP_TERRAFORM_IO
      - TF_LOG
      - TF_LOG_PATH
