name: Terraform Apply

on:
  issue_comment:
    types: [created]

jobs:
  check:
    if: >
      github.event.issue.pull_request != null && 
      (github.event.comment.body == '/terraform apply' || github.event.comment.body == '/tf apply' )&& 
      github.event.issue.state == 'open'
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write
    outputs:
      preview: ${{ steps.changed_files.outputs.preview }}
      production: ${{ steps.changed_files.outputs.production }}
    steps:
      - name: React to comment
        uses: actions/github-script@v7
        with:
          script: |
            await github.rest.reactions.createForIssueComment({
              owner: context.repo.owner,
              repo: context.repo.repo,
              comment_id: context.payload.comment.id,
              content: 'eyes'
            });

      - name: Check for changes
        id: changed_files
        uses: actions/github-script@v7
        with:
          script: |
            const { data: files } = await github.rest.pulls.listFiles({
              owner: context.repo.owner,
              repo: context.repo.repo,
              pull_number: context.payload.issue.number
            });

            const preview = files.some(file => file.filename.startsWith('preview/'));
            preview ? core.setOutput('preview', 'true') : core.setOutput('preview', 'false');

            const production = files.some(file => file.filename.startsWith('production/'));
            production ? core.setOutput('production', 'true') : core.setOutput('production', 'false');

  preview:
    needs: check
    if: needs.check.outputs.preview == 'true'
    uses: ./.github/workflows/shared-terraform-apply.yaml
    with:
      directory: preview
      vars_file: terraform.enc.tfvars.json
    secrets: inherit
    permissions:
      pull-requests: write
      contents: write
      statuses: write

  production:
    needs: check
    if: needs.check.outputs.production == 'true'
    uses: ./.github/workflows/shared-terraform-apply.yaml
    with:
      directory: production
      vars_file: terraform.enc.tfvars.json
    secrets: inherit
    permissions:
      pull-requests: write
      contents: write
      statuses: write
